
block content
  p Please log in to post your own codes.
  div(id="posts" class="container")
  script(src="/javascripts/index.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js")
    <script>hljs.initHighlightOnLoad();</script>
