extends layout

block content
  h1 Register

  div(class="row")
    form(action="/api/user/register" id="login-form" method="POST" class="col s12")

      div(class="row")
        div(class="input-field col s8 l4")
          label(for="username" class="active") Username
          input(name="username" id="username")

      div(class="row")
        div(class="input-field col s8 l4")
          label(for="password" class="active") Password
          input(type="password" name="password" id="password")
          span(class="helper-text" data-error="wrong" data-success="right") The password must be atleast 8 characters long and have atleast 1 number, 1 capital letter and 1 symbol 
          
        
      button(class="waves-effect waves-light btn" type="submit") Submit

  
